html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #BFBC80;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.leftPane{
    background-color: 98794D;
}
.rightPane{
    
}
.header{
    display:flex;
    justify-content: center;
}
.navbar{
    display:flex;
    justify-content: space-around;
}
.footer{
    display: flex;
    justify-content: space-around;
}
.sab-photos{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.sabby{
    width: 25%;
    height:25%;
}
.container{
    display: flex;
}
.info{
    width:75%;
}
.popular-music{
    width:25%;
}