html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #BFBC80;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.leftPane{
    background-color: 98794D;
}
.rightPane{
    
}